body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.color-grid {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.color-box {
  width: 100px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.color1 {
  background-color: #6a5acd;
}

.color2 {
  background-color: rgb(255, 0, 0);
}

.color3 {
  background-color: cyan;
}

.color4 {
  background-color: hsl(120, 100%, 50%);
}

.color5 {
  background-color: orange;
}
